$primary: rgb(25, 148, 230);
$primaryDark: rgb(7, 95, 153);
$secondary: rgb(55, 241, 70);
$secondaryDark: rgb(71, 182, 19);
$tertiary: rgb(241, 52, 52);
$tertiaryDark: rgb(202, 17, 17);

$specialWhite: rgb(240, 220, 220);
